<!DOCTYPE html>
<html>
	<head>
		<title>Akora</title>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
	<body>

		<div id='header'>
			<h1 class="logo">Akora</h1>
		</div>

		<ul id='navbar'>
			<li><a href='/'>Home</a></li>
			<li><a href='/login'>Login</a></li>
		</ul>

		<br/>

		{{message}}

		<div class="container">
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>

